#footer_content_container{:class => 'footer_content_style'}
	#me{:class => 'footer_element_style'}
		%a{:href => 'http://grepthepipe.com/about.html'}about me
	#faq{:class => 'footer_element_style'}
		faq
	#flattr{:class => 'footer_element_style'}
		flattr me
	#dropbox{:class => 'footer_element_style'}
		%a{:href => 'http://db.tt/nJEG9oE'}dropbox (ref)