%form{:action => '/post', :method => 'post', :id => 'address_form'}
	#address_form_label_container
		%label{:for => 'input_address', :class => 'address_form_label_style', :id => 'address_form_label'}="IP address with prefix:"
	#address_form_input_container
		%input{:type => 'text', :value => @string_for_input, :name => 'address_with_prefix', :class => 'address_form_input_style', :id => 'address_form_input'}
	#address_form_submit_container
		%input{:type => 'submit', :value => 'calc', :name => 'calc', :class => 'address_form_submit_style', :id => 'address_form_submit'}