!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
	%head 
		%title=@title
		%link{:rel => 'stylesheet', :href => '/public/css/style.css'}
		%script{:src => "http://code.jquery.com/jquery-#{settings.jquery_version}.min.js", :type => 'text/javascript', :charset => 'utf-8'}
		%script{:src => "/public/scripts/add_sugar.js", :type => 'text/javascript', :charset => 'utf-8'}
		%meta{:author => 'Leif Gensert'}
		%meta{:content => 'text/html', :charset => 'utf-8', 'http-equiv' => 'Content-Type' }
		%meta{:content => 'IP address calculator for IPv4 and IPv6 addresses given a prefix in decimal form', :name => 'description' }
		%meta{:content => 'ipv4, ipv6, ip address calculator, ip subnet calculator, ip calculator, subnet calculator, calculator for ipv4 and ipv6 ip addresses'}
		=haml :ga, :layout => false

	%body
		#wrapper{:class => 'wrapper_style'}
			%p
				#logo_container{:class => 'logo_container_style'}
					%a{:href => "/"}
						%img{:src => '/public/images/logo.png', :class => 'logo_style', :width => '400', :height => '151'}
				
				=yield
								
				#push{:class => 'push_style'}

				%hr/
				#footer_container{:class => 'footer_container_style'}
					=haml :footer, :layout => false