!!!
%html
	%head 
		%title Dualcalc
		%link{:rel => 'stylesheet', :href => '/css/style.css'}
		%script{:src => "http://code.jquery.com/jquery-1.5.2.min.js", :type => 'text/javascript', :charset => 'utf-8'}
		%meta{:author => 'Leif Gensert'}
		%meta{:content => 'text/html', :charset => 'utf-8', 'http-equiv' => 'Content-Type' }
		%meta{:content => 'IP address calculator for IPv4 and IPv6 addresses given a prefix in decimal form', :name => 'description' }
		%meta{:content => 'ipv4, ipv6, ip address calculator, ip subnet calculator, ip calculator, subnet calculator, calculator for ipv4 and ipv6 ip addresses'}

	%body
		=haml :input, :layout => false
		
		#address_container
			= haml :output, :layout => false unless @empty