$fixed_font_to_use: Fixed, monospace

$net_part_color: blue
$mixed_part_color: red
$host_part_color: black

$faq_intend: 20px

$grey: #bababa

*
	margin: 0

html, body
	height: 100%

a
	text-decoration: none
	color: $grey

h1
	font-family: $fixed_font_to_use
	font-size: 48px
	margin: auto
	
a:hover 
	text-decoration: underline

hr
	border: none 0
	border-top: 1px dashed $grey
	width: 50%
	height: 1px
	margin: auto

.wrapper_style
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -100px auto

.logo_container_style
	text-align: center
	margin: 0 auto 30px

.address_form_input_style
	padding: 5px 10px
	background-color: transparent
	margin: 10px auto
	width: 400px
	font-size: 15px
	font-family: $fixed_font_to_use
	font-weight: bold
	border: 1px solid #ccc
	text-align: center
	-moz-border-radius: 5px
	-webkit-border-radius: 5px
	color: #595959
	margin: 10px auto 50px
	
.address_form_label_style
	-webkit-transition: opacity 0.15s linear
	color: $grey
	background-color: #FFFFFF
	text-align: center
	margin: auto
	font-family	: $fixed_font_to_use
	
.address_form_submit_style
	text-align: center
	margin: auto
	font-family	: $fixed_font_to_use
	margin: 10px

.address_form_style
	width: 500px
	margin: 0 auto
	text-align: center

.address_box_style
	padding: 20px
	width: 800px
	font: bold 32px $fixed_font_to_use
	text-align: center
	border: 2px dashed black
	margin: 10px auto 50px
	-moz-border-radius: 10px
	-khtml-border-radius: 10px
	-webkit-border-radius: 10px
	
.address_box_style_success
	background: #88EE88

.address_box_style_error
	background: #EE8888

.address_info_box_style
	display: table
	width: 700px
	padding: 10px
	border: 2px dashed black
	margin: 50px auto 50px
	-moz-border-radius: 10px
	-khtml-border-radius: 10px
	-webkit-border-radius: 10px

.row
	display: table-row
	
.left, .middle, .right
	display: table-cell
	font: bold 16px $fixed_font_to_use
	padding: 5px

#net
	color: $net_part_color
#mixed
	color: $mixed_part_color
#host
	color: $host_part_color

.toc_style
	font-family: $fixed_font_to_use

.push_style
	clear: both

.footer_container_style
	display: table
	text-align: center
	margin: 0 auto
	clear: both

.footer_content_style
	display: table-row

.footer_element_style
	display: table-cell
	text-align: center
	font: bold 11px $fixed_font_to_use
	color: $grey
	padding: 5px 25px